:root {
  --color-faded: #939598;
  --color-faded2: #70706F;
  --color-border: #C4C4C4;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
  line-height: 1;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100%;
  max-width: 100%;
  padding: 50px;
  aspect-ratio: 0.70;
}

.page-description {
  font-size: 15px;
  line-height: 1.6;
}

.display-1 {
  margin-bottom: 11px;
  font-size: 34px;
}

.page-sub-title {
  margin-bottom: 20px;
  color: var(--color-faded);
  font-size: 14px;
  font-weight: normal;
}

.page-header {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-border);
}

.sections {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.sections__column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sections__left {
  width: 60%;
}

.sections__right {
  width: 40%;
}

.display-2 {
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
}

.display-3 {
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.display-4 {
  margin-bottom: 10px;
  color: var(--color-faded);
  font-size: 14px;
  font-weight: normal;
}

p {
  color: #000;
  font-size: 14px;
  line-height: 1.4;
}

.ervaringen {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ervaring {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills li {
  width: calc(50% - 5px);
}

@media not print {
  body {
    padding: 40px;
    background-color: gray;
  }

  .container {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
}
