:root {
  --color-faded: #939598;
  --color-faded2: #70706F;
  --color-border: #C4C4C4;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
  line-height: 1;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.page-description {
  font-size: 15px;
  line-height: 1.6;
}

.display-1 {
  margin-bottom: 11px;
  font-size: 28px;
}

.page-sub-title {
  margin-bottom: 20px;
  color: var(--color-faded);
  font-size: 14px;
  font-weight: normal;
}

.page-header {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: auto;
}

.sections__column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.display-2 {
  margin-bottom: 20px;
  color: #000;
  font-size: 18px;
}

.display-3 {
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.display-4 {
  margin-bottom: 10px;
  color: var(--color-faded);
  font-size: 14px;
  font-weight: normal;
}

.badge-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.badge {
  background-color: #ececec;
  color: var(--color-faded);
  padding: 3px 4px;
  border-radius: 3px;
  font-size: 12px;
}

p {
  color: #000;
  font-size: 14px;
  line-height: 1.4;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sub-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills li {
  width: calc(50% - 5px);
}

.page-footer {
  margin-top: 50px;
}

@media screen and (min-width: 768px), print {
  html,
  body {
    height: 100%;
  }

  .container {
    height: 100%;
    max-width: 100%;
    aspect-ratio: 0.70;
  }

  .sections {
    flex-direction: row;
  }

  .sections__left {
    width: 60%;
  }
  
  .sections__right {
    width: 40%;
  }

  .display-1 {
    font-size: 34px;
  }
}

@media not print {
  .container {
    padding: 20px;
  }

  @media (min-width: 768px) {
    body {
      padding: 40px;
      background-color: gray;
    }
  
    .container {
      padding: 50px;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
  }
}
